{% extends "base/base.html" %}

{% block title %}NEW PERSONA{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-outline-dark ">Save People</button>
            <a href="{% url 'core:list_p' %}" class="btn btn-outline-dark ">Cancel</a>
    </form>
{% endblock content %}