{% extends "base/base.html" %}

{% block title %} DELETE PRODUCT {% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h2>¿Realmente deseas eliminar esta producto?</h2>
            
            <button type="submit" class="btn btn-outline-danger form-control">Delete product</button>
            <a href="{% url 'core:list_pr' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}