{% extends "base/base.html" %}

{% block title %} DELETE TASK {% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            <h2>¿Realmente deseas eliminar esta Task: <code>{{ object }}</code> ?</h2>
            
            <button type="submit" class="btn btn-outline-danger form-control">Delete Task</button>
            <a href="{% url 'core:list_t' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}