{% extends "base/base.html" %}

{% block title %}SERVICE LIST VIEW{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto; margin-top: 40px;">
                    <div class="table-wrapper">
                        <table class="table table-dark table-striped table-hover">
                            <!-- Encabezado de la tabla -->
                            <thead>
                                <tr>
                                    <th>Service</th>
                                    <th>Task</th>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!-- Cuerpo de la tabla -->
                            <tbody>
                                {% for t in task_list %}
                                    <tr>
                                        <td>{{ t.servicename }}</td>
                                        <td>{{ t.taskname }}</td>
                                        <td>{{ t.product }}</td>
                                        <td>{{ t.description }}</td>
                                        <td class="p-2 text-right">                                            
                                            <a href="{% url 'core:update_t' t.pk %}" class="btn btn-outline-warning mx-2">Update</a>
                                            <a href="{% url 'core:delete_t' t.pk %}" class="btn btn-outline-danger mx-2">Delete</a>
                                        </td>                                                                                                                    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col">
                <!-- Botón "Add Task" -->
                <div class="">
                    <a href="{% url 'core:create_t' %}" class="btn btn-outline-secondary">Add Service</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}