{% extends "base/base.html" %}

{% block title %}UPDATE PERSONA {% endblock title %}

{% block content %}
<form action="" method="post" class="mx-auto mt-4 border rounded p-4" style="max-width: 400px;">
    <div class="form-group">
        <h3 class="text-center mb-4">Information</h3> 
        {% csrf_token %}
        {{ form }}
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary btn-lg">Update People</button>
        <a href="{% url 'core:list_p' %}"></a>
    </div>
</form>
<style>
    .form-group input {
        border: none;
        border-bottom: 1px solid #ced4da;
        margin-bottom: 15px; /* Separación entre campos */
    }
</style>
{% endblock content %}